body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

form {
  margin: 20px;
}

input, button {
  margin: 5px;
  padding: 10px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

img {
  width: 150px;
  border-radius: 10px;
}